<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user.microposts.any? %>
  <h3>First Micropost:</h3>
  <p><%= @user.microposts.first.content %></p>
<% else %>
  <p>This user has no microposts.</p>
<% end %>
